@using Shipment.Models;

<h1>Shipping Cost</h1>
<p>Package volume: @Model.GetVolume()</p>
<p>Package cost: $@Model.GetCostToShip()</p>
<p>Package Dimensions: length(@Model.Length), width(@Model.Width), height(@Model.Height), weight(@Model.Weight)</p>

<a href="/parcel/new">Calculate another shipment</a>